h3 {
  font-weight: 500;
  letter-spacing: 2px;
  font-variant: small-caps;
  color: $blue;
}
h4 {
  font-weight: 500;
  font-variant: small-caps;
  letter-spacing: 1.5px;
  text-align: center;
}
.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 8% 230px 8% 230px;
}
 .description {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
}

.description p {
  font-size: 16px;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}

.title_1 {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
}

 .calendar {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}

 .reviews-dashboard {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
}

 .facilities-dashboard {
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
}

 .title_2 {
  grid-row: 4 / span 1;
  grid-column: 1 / span 3;
}

 .earnings {
  grid-row: 5 / span 1;
  grid-column: 1 / span 1;
}

.jobs {
  grid-row: 5 / span 1;
  grid-column: 2 / span 1;
}

.notifications {
  grid-row: 5 / span 1;
  grid-column: 3 / span 1;
}

.description, .calendar, .reviews-dashboard, .earnings, .jobs {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 10px;
  margin: 20px 15px;
}

.title_1, .title_2 {
  margin-left: 15px;
  padding-left: 10px;
}

#number {
  font-size: 35px;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.padding-left {
  padding-left:10px;
}


.body {
  height: 100px;
  margin: 0px;
}

.facilities-dashboard {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin: 20px 15px;
}

.jobs {
  text-align: center;
}

.chart {
  width: 150px;
  height: 150px;
}

.notifications h4 {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  margin-top: 0px;
}

.notifications {
  margin: 20px 15px;
  text-align: center;
}



.padd {
  padding: 20px 75px;
}







