.navbar-homepage {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: transparent;
  transition: all 0.5s background-color ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-homepage-blue {
  background-color: #0074D9;
}
.navbar-homepage-brand img {
  height: 50px;
}
.navbar-homepage-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-homepage-item {
  cursor: pointer;
  padding: 0 20px;
}
.navbar-homepage-link {
  color: #616668;
  font-size: 14px;
}
.navbar-homepage-link:hover {
  color: #da552f;
  text-decoration: none;
}

.banner-homepage {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-homepage-content h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner-homepage-content p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
.apply-now {
  color: white;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
  background: #6AD58B;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  padding: 20px 30px;
  margin: 0 auto 40px;
}
.apply-now:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.container {
  padding: 30px;
}
.card-added-value {
  display: block;
  padding: 50px;
  text-align: center;
  margin: 5px;
}
.card-added-value i{
  display: block;
  color: #0074D9;
}
.card-added-value h3 {
  color: #0074D9;
}
.card-added-value p {
  color: #868484;
  font-size: 20px;
}

.carousel,
.carousel-inner {
  width:100%;
  height:500px;
  z-index:0;
  overflow:hidden;
}
.item {
  width:100%;
  height:100%;
  background-position: center;
  background-size:cover;
  z-index:0;
}
.carousel-caption {
  color: white !important;
  z-index: 3 !important;
  bottom: 70px;
}
.carousel-caption h5{
  font-size: 40px;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 10px;
}
.carousel-caption p{
  font-size: 25px;
  font-weight: lighter;
}
.card-speciality {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.card-speciality a{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-speciality p {
  font-weight: lighter;
  padding: 15px;
}
.wrapper {
  background-size: cover;
}

.card-testimonial {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.alumni-picture {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 2px 26px 0 rgba(0,0,0,0.2);
}
.testimonial-content {
  padding: 15px;
  font-weight: lighter;
}
.testimonial-content p {
  font-size: smaller;
}

.show-more {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  margin: 0 auto 40px;
  max-width: 400px;
  font-weight: 900;
  color: #7c7c7c;
  border-radius: 4px;
  background: #f8f8f8;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 2px rgba(0,0,0,0.17);
  text-decoration: none;
}
.show-more:hover {
  opacity: 1;
  text-decoration: none;
}
.card-facility-container {
  flex: 0 0 33%;
  padding: 15px;
}
.card-facility {
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #E7E5E5;
  max-width: 380px;
  margin: auto;
  position: relative;
}
.card-facility-header {
  background-color: #469AE0;
  height: 200px;
  background-size: cover;
  border-radius: 3px 3px 0px 0px;
  position: relative;
}
.card-facility-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 80%);
}
.card-facility-body {
  padding: 10px;
  position: relative;
  text-transform: uppercase;
  background: white;
}
.footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.footer-section {
  display: block;
}
.footer-section-links a{
  display: block;
  text-decoration: none;
}
