<div class="page_container">

  <div class="flex smaller">
    <div class="chatrooms">
      <p id="ChatTitle">Chat Room</p>
      <% unless current_user.chat_rooms == [] %>
        <% current_user.chat_rooms.each do |chatroom| %>
          <%= link_to messages_path(chatroom), remote: :true do %>
            <div class="chatroom">
              <div class="flex spacearound">
                <% unless Student.find_by(user:current_user).nil? %>
                  <h8><%= chatroom.fit.mission.senior.facility.name %> </h8>
                  <h8 style="font-style: italic;"><%= chatroom.fit.mission.schedule.split(" ")[1]%></h8>
                <%end%>
              </div>
              <p class = "shortened">
                <% unless chatroom.messages == [] %>
                  <i> <%= chatroom.messages.last.shortened %> </i>
                <%end%>
              </p>
            </div>
          <%end%>
        <%end%>
      <%end%>
    </div>
    <div class="chat ">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="chatheader"><h4>... </h4></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



