<div class="page_container">

  <div class="flex">
    <div class="chatrooms">
      <h4>My chatrooms</h4>
      <% current_user.chat_rooms.each do |chatroom| %>
        <div class="chatroom">
          <%= link_to chatroom.fit.mission.description, messages_path(chatroom), remote: :true %>
        </div>
      <%end%>
    </div>
    <div class="chat">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="chatheader"><h4>... </h4></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- " current_user.chat_rooms.last.messages " this you get in the controller  -->
