<div class="container">
  <div class="dashboard">
    <div class="description">
      <p>...</p>
    </div>
    <div class="title_1">
      <h2> User's dashboard </h2>
    </div>
    <div class="calendar">
    <p>...</p>
    </div>
    <div class="reviews">
    <p>...</p>
    </div>
    <div class="facilities">
      <p>
      <% @student.favorite_facilities.each do |fav| %>

        <ul><li><%= fav.facility.name %></li>
        </ul>
        <%end%>
    </p>
    </div>
    <div class="title_2">
      <h2> Earnings and Activity </h2>
    </div>
    <div class="earnings">
    <p><%= pie_chart({"Earned" => @sum_received, "Upcoming" => @sum_not_received}, donut: true, height: "auto", width: "auto", legend: "left") %></p>
    </div>
    <div class="jobs">
    <p>...</p>
    </div>
    <div class="notifications">
    <p>...</p>
    </div>
  </div>
</div>
