<nav class="navbar navbar-default sidebar" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Robert & Romane<span style="font-size:20px; padding-top: 15px"></span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Account <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="#">My Profile</a></li>
            <li class="divider"></li>
            <li><a href="#">Facilities</a></li>
            <li class="divider"></li>
            <li><a href="#">Billing</a></li>
            <li class="divider"></li>
            <li><a href="#">Formation</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Progression <span class="caret"></span><span style="font-size:20px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-euro"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li>
              <a href="#">Evaluation</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">Earnings</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Learn<span class="caret"></span><span style="font-size:20px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-pencil"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="#">How-to-Guides</a></li>
            <li class="divider"></li>
            <li><a href="#">R&R Guidelines</a></li>
            <li class="divider"></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </li>
        <li class ="tech"><a href="#">Download the App<span style="font-size:20px" class="pull-right hidden-xs showopacity glyphicon glyphicon-download-alt"></span></a></li>
        <li>
          <a href="" class="download_app">
            <img src="http://www.apotheekdevos-olmen.be/wp-content/uploads/2016/06/butt_apple-app-store-download-dutch.png" alt="Spp Store logo">
          </a>
          <a href="" class="download_app">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfYJeMqKlqE-TWE3NnuKapsM9Oo2rrYMbKt5vgMUCwyeDxdx75" alt="Google Play logo">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
