<div class="super-tab" id="myTab">
  <div id="official-name">
    <%= link_to dashboard_path do %>
    <p>Robert & Romane</p>
    <% end %>
  </div>
  <ul class="nav-tabs" style="list-style: none">
    <li class="nav-item">
      <%= link_to "Calendar", calendar_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Job Offers", dashboard_missions_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Chat", chat_path %>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="calendar" role="tabpanel" aria-labelledby="calendar-tab"></div>
    <div class="tab-pane fade" id="joboffers" role="tabpanel" aria-labelledby="joboffers-tab"></div>
    <div class="tab-pane fade" id="chat" role="tabpanel" aria-labelledby="chat-tab"></div>
  </div>
</div>
