<div class="navbar-homepage">

  <a href="/" class="navbar-homepage-brand">
    <img src="" alt="logo">
  </a>
  <div class="navbar-homepage-right hidden-xs hidden-sm">

    <a href="" class="navbar-homepage-item navbar-homepage-link">Sign In</a>
    <a href="" class="navbar-homepage-item navbar-homepage-link">Contact us +32 123 45 67 89</a>
  </div>
</div>

<div class="banner-homepage" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-homepage-content">
    <h1>Robert & Romane</h1>
    <p>Quality moments shared between students & elderlies </p>
    <a href="#" class="apply-now">Apply now !</a>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <h1 style="text-align: center"> <strong>Join the Robert & Romane's community</strong></h1>
    <p style="text-align: center"> and earn money on your own schedule </p>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="card-added-value">
          <i class="fas fa-hand-holding-usd fa-4x" style="text-align: center"></i>
          <h3 style="text-align: center"> <strong> Earn Extra Cash</strong></h3>
          <p> Make extra money while you’re not at school . You can do as many hours as you want. Get paid weekly every Friday.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card-added-value">
          <i class="far fa-clock fa-4x" style="text-align: center"></i>
          <h3 style="text-align: center"> <strong> Work When You Can</strong></h3>
          <p> Set your own schedule. You’ll only get visit requests when available. Work mornings, afternoons, weekends or all of the above.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card-added-value">
          <i class="fas fa-tasks fa-4x" style="text-align: center"></i>
          <h3 style="text-align: center"> <strong> Improve Your Resume</strong></h3>
          <p> Working with R&R is really gratifying and fun. Improve your resume with experience in social work and assisting the elderly.</p>
        </div>
      </div>
    </div>
    <a href="#" class="apply-now" >Apply now !</a>
  </div>
</div>

<div class="wrapper">
  <div class="container" >
    <h1 style="text-align: center"> <strong>Services you will provide as an R&R's member</strong></h1>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.5) 0%, rgba(0,36,61,0.5) 50%), url(https://www.google.be/search?biw=1100&bih=630&tbm=isch&sa=1&ei=yrTpW8yzLqnZjwSl8bzICg&q=aider+une+personne+ag%C3%A9e+a+faire+le+m%C3%A9nage&oq=aider+une+personne+ag%C3%A9e+a+faire+le+m%C3%A9nage&gs_l=img.3...87979.98136.0.98255.53.43.4.0.0.0.294.6090.0j20j11.31.0....0...1c.1.64.img..19.15.2814...0j0i67k1j0i10k1j0i24k1j0i5i30k1j0i30k1.0.FT6CnB5kdhI#imgrc=zmf6BhBRdRFQIM:)">
              <div class="carousel-caption d-none d-md-block">
                <h5><strong>House Help</strong></h5>
                <p>Help our senior members around the house. Help them with laundry, light cleaning, meal prep and more.</p>
              </div>
            </div>
            <div class="item" style="background-image:linear-gradient(-225deg, rgba(0,101,168,0.5) 0%, rgba(0,36,61,0.5) 50%), url(https://www.google.be/search?biw=1100&bih=630&tbm=isch&sa=1&ei=m7TpW4SzJJ6zjwTL4KXwCA&q=donner+un+cours+d%27informatique+%C3%A0+un+vieux&oq=donner+un+cours+d%27informatique+%C3%A0+un+vieux&gs_l=img.3...9317.15951.0.16127.41.36.0.0.0.0.286.4990.0j15j10.25.0....0...1c.1.64.img..16.12.2466...0j0i67k1j0i24k1j0i30k1.0.YxGGazK-wtA#imgrc=b8XtqIvuox2rnM:)">
              <div class="carousel-caption d-none d-md-block">
                <h5><strong> Technology </strong>.</h5>
                <p>Teach our senior members how to use a smartphone, computer, tablet and social media.</p>
              </div>
            </div>
            <div class="item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.5) 0%, rgba(0,36,61,0.5) 50%), url(https://blog.redcross-edu.ch/wp-inside/uploads/2018/05/sujets-discussions-seniors.jpg)">
              <div class="carousel-caption d-none d-md-block">
                <h5><strong> Companionship </strong></h5>
                <p>Spend time with our senior members. Take them out to lunch, to the movies or just hang out.</p>
              </div>
            </div>
            <div class="item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.5) 0%, rgba(0,36,61,0.5) 50%), url(https://blog.redcross-edu.ch/wp-inside/uploads/2018/05/sujets-discussions-seniors.jpg)">
              <div class="carousel-caption d-none d-md-block">
                  <h5><strong> Transportation </strong></h5>
                  <p>Drive our senior members to the doctor’s, airport or to work; providing an amazing social experience</p>
              </div>
            </div>
            <div class="item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.5) 0%, rgba(0,36,61,0.5) 50%), url(https://www.petits-fils.com/wp-content/uploads/2015/07/Aide-aux-courses-pour-une-personne-%C3%A2g%C3%A9e-%C3%A0-domicile.jpg)">
            </div>
            <div class="carousel-caption d-none d-md-block">
              <h5><strong> Grocery shopping</strong></h5>
              <p>Take our senior members grocery shopping. Pick them up, take them to the store and help carry the bags.</p>
            </div>
          </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">    </span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span>
          <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<div class="wrapper" style="background-image:linear-gradient(-225deg, rgba(0,101,168,0.5) 0%, rgba(0,36,61,0.5) 50%), url(http://www.aobora.com/wp-content/uploads/accompagner-personne-agee.png)">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="card-speciality">
           <h2 style="text-align: center"> <strong> Two Generations</strong></h2>
           <h3 style="text-align: center">A magical Experience </h3>
           <p style="text-align: center"> Robert&Romane's take a different approach on aging by connecting seniors to fun and energetic college students </p>
           <a href="#" class="apply-now">Apply now !</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
     <h1 style="text-align: center"> <strong>What students think of us</strong></h1>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="card-testimonial">
          <img src="https://c1.staticflickr.com/4/3097/3178893181_42fa5ac4a1_b.jpg" class="alumni-picture" alt="Alumnus picture">
          <div class="testimonial-content">
          <h5> Amazing experience, great connections with elderlies... Definetely the best student job ever !</h5>
          <p> Name - Published on #date</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="show-more">Show more testimonials</a>
</div>

<div class="wrapper">
  <h1 style="text-align: center"> <strong>They hired our students</strong></h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 colm-md-4">
        <div class="card-facility-container">
          <div class="card-facility">
            <div class="card-facility-header" style="background-image: url('http://www.clicpromotion.com/Application/upload/1489392141.jpg')">
              <span class="card-facility-filter"></span>
            </div>
            <div class="card-facility-body">
              <h4> FACILITY NAME </h4>
              <p> City </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 colm-md-4">

      </div>
    </div>
  </div>
  <a href="#" class="show-more">Show more facilities</a>
</div>

<div class="wrapper">
  <div class="container">
    <div class="footer">
      <div class="footer-section">
        <h3> Contact us</h3>
        <p> <i class="fas fa-map-marker-alt"></i> Address </p>
        <p> <i class="fas fa-phone"></i> Phone number</p>
      </div>
      <div class="footer-section">
        <h3>Quick links</h3>
        <div class="footer-section-links">
          <a href="/">About</a>
          <a href="/">FAQ</a>
          <a href="/">Blog</a>
        </div>
      </div>
      <div class="footer-section">
        <h3>Follow us</h3>
        <div class="footer-section-links">
            <a href="/"> <i class="fab fa-twitter"></i> Twitter</a>
            <a href="/"> <i class="fab fa-facebook-square"></i> Facebook</a>
            <a href="/"> <i class="fab fa-instagram"></i> Instagram</a>
        </div>
      </div>
    </div>
  </div>
</div>
