ul#myTab {
  height: 70px;
  position: sticky;
  top: 0;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
  z-index: 300;
  background-color: white;
}
li.nav-item a{
  height: 70px;
  color: #777;
  font-size: 20px;
  letter-spacing: 2px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
li.nav-item a:hover {
  opacity: 0.8;
  font-weight: 500;
}
